
body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #222;
    text-align: center;
    padding: 35px;
	background-image: url(back.jpg);
	background-position: center;
	background-repeat: repeat;
}
 
form,p,span {
    margin: 0;
    padding: 0;
}
 
input {
    font: 12px arial;
}
 
a {
    color: #0000FF;
    text-decoration: none;
}
 
a:hover {
    text-decoration: underline;
}
 
#wrapper,#loginform {
    margin: 0 auto;
    padding-bottom: 25px;
    background: rgba(150,150,150,0.8);
    width: 620px;
    border: none; 
	border: 1px solid black;
}
 
#loginform {
    padding-top: 18px;
}
 
#loginform p {
    margin: 5px;
}
 
#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    height: 270px;
    width: 550px;
	color: #222222;
    font-family: "Courier New", Courier, monospace;
    overflow: auto;
	border: 1px solid black;
    background-color: #bbbbbb;
}
 
#usermsg {
    width: 395px;
    border: 1px solid black;
}
 
#submit {
    width: 60px;
}
 
.error {
    color: #ff0000;
}
 
#menu {
    padding: 12.5px 25px 12.5px 25px;
}
 
.welcome {	
	text-align: left;
	font-weight: bold;
}
 
.logout {
    float: right;
}
 
.msgln {
    margin: 0 0 2px 0;
}